h2.st1{
    color:green;
    text-decoration: underline;
}
.st2{
    color: red;
    font-style: italic;
}
.col1{
    color:grey;
}
.col2{
    color:brown;
}
.size1{
    font-size: 2em;
}
.trans{
    text-transform: capitalize;
}
.under1{
    text-decoration: underline;
}
.colH1{
    color:purple;
}
#col2H1{
    color:pink;
}
p{
    color: grey;
    font-size: 2em;
}
.list1{
    list-style-type: circle;
    border :3px double orange;
    /* border-radius: 20px 25px 30px 35px; */
    /* 左上右上右下左下 */
    border-top-left-radius: 20px 50px;
    border-top-right-radius: 20px 50px;
    border-bottom-right-radius: 20px 50px;
    border-bottom-left-radius: 20px 50px;
    /* border-radius: 30px 0 30px 0; */
}
.list2{
    list-style-type: none;
    list-style-image: url(../images/main.png);
}
.in{
    background-color: red;
    list-style-position: inside;
}
/* 圖片樣式預設outside */
.out{
    background-color: red;
    list-style-position: outside;
}